#!../../iw-perl/bin/iwperl

###########################################################
# GLOBAL SIGHT/INTERWOVEN INTEGRATION SCRIPT
#
# This script is called by the 'Translate' menu item in
# TeamSite. It builds the query string and sends data to the
# appropriate script.
#
###########################################################

use CGI;

use File::Copy;
use File::Find;
# Get CGI object
my $query = new CGI;

# AutoFlush the buffer
$| = 1;
my $src;
my $tar;
# Get names of all passed parameters
my @names = $query->param;

# Set up a globla index
my $globalIndex = 0;

## Build form for submission

# enter proper CXE hostname and port number in $url assignment
$url="http://%%server_host%%:%%server_port%%/globalsight/TranslateServlet";

print "GET $url HTTP/1.1\n";
print "Content-Type: text/html\n\n";

my %q;
my $domain = $query->param('domain');
my $asp_br = 'gsbr';
foreach my $name (@names) {
	$q{$name} = $query->param($name);
	$q{$name} =~ s/\\/\//g unless ($name eq 'user_name');
	$q{$name} =~ s/$domain\\//g if ($name eq 'user_name');
	my $branch_root = $q{'area_path'};
	if ($name =~ /^path_/) {
		$src = $q{$name};
		$tar = $src;
		$tar =~ s/main/main\/$asp_br/;
		my $filepath = $src;
		my @path = ();
		$filepath =~ s|^$branch_root||i;
		@path = split("/", $filepath);
		my $dir = $branch_root."/";
		$dir =~ s/main/main\/$asp_br/;
		my $result;
            if (-d $src){
			for (my $i=0; $i < @path; $i++) {
				$dir .= $path[$i];
				if ($i < (@path - 1)) {
					if (!-e $dir) {
						$result = eval{mkdir($dir, 0755)};
					}
					$dir .= '/';
				} else {
					 find(\&process_file, $src);
				}	
			}
		}
		else {
			pop(@path);			
			foreach my $d (@path) {
				$dir .= $d;
				if (!-e $dir) {
					$result = eval{mkdir($dir, 0755)};
				}
				$dir .= '/';
			}
			copy($src , $tar);
		}
	}
# uncomment the following lines for getting the query parameters.
#	$q{$name} =~ s/DemoBranch/gsbr/;	
#	print "$name -> $q{$name}";
#	print "<BR>";
}
#exit;
print "<HTML><HEAD>\n";
print "</HEAD>\n";

print "<script language=\"JavaScript1.1\">\n";
print "function submitOnLoad() {\n";
print "\tdocument.TSform.submit();\n";
print "}\n";
print "</script>\n";

print "<BODY onLoad=\"javascript:submitOnLoad()\">\n";
print "<FORM NAME=TSform METHOD=POST ACTION=$url>\n";
my $count = 0;
my $typeValue;
my $filesize;
foreach my $k (@names) {
    #my $value = $query->param($k);
    my $value = $q{$k};
    my $encodedValue = urlencode($value);
    my $sendit = "yes";

	if ($k =~ /^type_/) {
		# only directories and file have type_ prefix names
		$typeValue = $value;
		$count++;
   		$sendit = "no";
	}
	if (($count> 0) && ($count < 5)) {
		$count++;
   		$sendit = "no";
	}
	# 3rd query->param after type_ is path_
	if ($count == 5) {
		$sendit = "no";
		if ($typeValue =~ /directory/) {
			# make top level call to obtain all files recursively
			getAllFileNames($value);
		}
		elsif ($typeValue =~ /file/) {
			# find the size of the selected files
			$filesize = (-s $value);
			print "<INPUT TYPE=hidden NAME=size_$globalIndex VALUE=$filesize>\n";
			print "<INPUT TYPE=hidden NAME=path_$globalIndex VALUE=$encodedValue>\n";
			$globalIndex++;
		}
		$count = 0;
	}

	if ($sendit eq "yes") {
#		$value = "d:/WORKAREA/temp" if ($k eq 'area_path');
		print "<INPUT TYPE=hidden NAME=$k VALUE=$encodedValue>\n";
	}
}
print "<INPUT TYPE=hidden NAME='teamsite_server' VALUE='%%teamsite_server%%'>\n";
print "</FORM>\n";
print "</BODY></HTML>\n";

exit;

sub getAllFileNames
{
    my $dirPath = shift;

    my $filesize;

    my @rv = ();
	my @dirs = ();
# open directory and list files and properties
	opendir DIR, $dirPath or return ();
	@dirs = readdir DIR;
	closedir DIR;
	for (@dirs)
	{
		# eliminate the . and .. entries from the list
		next if $_ eq '.' or $_ eq '..';

		# $_ a directory, so recurse
		if (!-f $_) {
			my $name = $_;
			my @newdirs = getAllFileNames("$dirPath/$_");

            if (@newdirs) {
                for (@newdirs)
                {
                    # add the directory and filename
                    push @rv, "$name/$_";
                }
            }
            else {
				if ((-f $dirPath."/".$name)&&(-e $dirPath."/".$name)) {
					# process the files
					print "<INPUT TYPE=hidden NAME=path_$globalIndex VALUE=$dirPath/$name>\n";
					$filesize = (-s $dirPath."/".$name);
					print "<INPUT TYPE=hidden NAME=size_$globalIndex VALUE=$filesize>\n";
					$globalIndex++;
				}
            }
		}
		else {
			push @rv, $_;
		}
	}
	return @rv;
}

sub process_file{
    $d = $File::Find::dir;
    $name = $File::Find::name;
    if(-d $_ ){
      $name =~ s/$src/$tar/;
	if (!-e $name) {
         eval{mkdir($name, 0755)};
	}
    } else {
        $tname = $name;
        $tname =~ s/$src/$tar/;
        copy($name, $tname);
    }
}
sub urlencode{
    my($esc) = @_;
    $esc =~ s# #%%space%%#g;
    return $esc;
}
