.asterisk
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color:red;
}

.bigText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt
}

.divider
{
    background: #A6B8CE;
}

.detailText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

.editorStandardText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt
}

.editorText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    word-break: break-all;
    word-wrap: break-word;
}

.editorId {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    word-break: normal;
}

.editorSegment, .editorSegmentRepetition {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: blue;
    word-break: break-all;
    word-wrap: break-word;
}

.editorSegment: visited {
    color: blue;
}

.editorSegmentExact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #CCFFCC;
    color: blue;
    word-break: break-all;
    word-wrap: break-word;
}

.editorSegmentExact: visited {
    background-color: #CCFFCC;
    color: blue;
}

.editorSegmentFuzzy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #FFFFCC;
    color: blue;
    word-break: break-all;
    word-wrap: break-word;
}

.editorSegmentFuzzy: visited {
    background-color: #FFFFCC;
    color: blue;
}

.glossaryDateSize {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-style: italic
}

.greenText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #009966
}

.header1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background: #18385D;
}

.header2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background: #738EB5;
}

.headingError {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: red;
}

.helloText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight:bold;
}

.mainHeading {
    font-family: Arial, Helvetica, sans-serif;
    color: #0C1476;
    font-size: 11pt;
    font-weight: bold;
}

.smallText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
}

.smallWhiteItalic {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 7pt;
    color: white;
}

.smallSilverItalicBold {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 8pt;
    font-weight: bold;
    color: silver;
}

.standardHREF {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

.standardHREF:visited {
    text-decoration: underline;
}

.standardHREFSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
}

.standardHREFSmall:visited {
    text-decoration: underline;
}

.standardText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.standardTextNew {
    font-family:Verdana,Arial;
    font-size: 10pt;
}

.standardTextBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.standardTextBoldLarge {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.standardTextItalic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: italic
}

.standardTextWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #FFFFFF
}

.startHere {
    font-family: Verdana, sans-serif;
    font-size: 7pt;
    font-weight: bold;
    color: white;
    background: red;
    text-decoration: none;
}

.startHere: hover
{
    text-decoration: underline;
}


.sourceTerm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt
}

.targetTerm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-left: 10pt;
    color: blue;
    cursor: hand;
}

.tableBodyHome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    vertical-align: top;
}

.tableHeadingBasic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background: #0C1476;
}

.tableHeadingBasicBlack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: black;
    background: #EEEEEE;
}


.tableHeadingGray {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background: #708EB3;
}

.tableHeadingListOff {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: white;
    background: #708EB3;
}

.tableHeadingFilter {
	height:10px;
	background: gray;
}

.tableHeadingListOn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: white;
    background: #0C1476;vertical-align: middle;
}

.tableHeadingWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF
}

.tableRowEven {
    background: #FFFFFF
}

.tableRowOdd {
    background: #EEEEEE
}

.warningHREF {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: red;
    text-decoration: underline;
}

.warningText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: red;
}

.welcomePageTableHeadingBasic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: rgb(37,34,101);
}

.welcomePageContentLayer {
    position: absolute;
    z-index: 10;
    top: 168px;
    left: 20px;
    right: 20px;
    margin-left: 80px;
}

.whiteBold {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

.whiteHREF {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.wizardCell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    background: #EEEEEE;
    padding-left: 2px;
    padding-right: 2px;
    height: 15px;
    width: 80px;
}

.wizardCellArrow {
    text-align: center;
    height: 15px;
    background: #EEEEEE;
}

.wizardCellArrowLinks
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: silver;
}

.wizardCellArrowLinks:hover
{
    text-decoration: underline;
    color: navy;
}

.wizardCellClose {
    text-align: center;
    border: 1px solid silver;
    background: #EEEEEE;
    padding-left: 2px;
    padding-right: 2px;
    height: 10px;
}

.wizardCellCloseLinks
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: silver;
}

.wizardCellCloseLinks:hover
{
    text-decoration: none;
    color: navy;
}

.wizardCellQuestion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: white;
    text-align: left;
    vertical-align: top;
    background: #708EB3;
}

.wizardCellStartFinish {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    background: #EEEEEE;
    padding-left: 2px;
    padding-right: 2px;
    height: 15px;
    width: 40px;
}

.wizardLinks
{
    font-family: verdana, sans-serif;
    font-size: 7pt;
    font-weight: bold;
    color: gray;
}

.wizardLinks:hover
{
    text-decoration: underline;
    color: navy;
}

.wordCountHeading {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: bold;
    color: white;
    background: #708EB3;
}

.wordCountHeadingBlack {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
    font-weight: bold;
    background: #EEEEEE;
}

.wordCountHeadingWhite {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 7pt;
    color: white;
    font-weight: bold;
    background: #0C1476;
}

.HREFBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #0C1476;
}

a:visited
{
    text-decoration: none;
}


a.HREFBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #0C1476;
}

a.HREFBold:hover {
    text-decoration: underline;
}

a.HREFBold:link {
    text-decoration: underline;
}

a.HREFBold:visited {
    text-decoration: underline;
}


a.HREFBoldSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #0C1476;
}

a.HREFBoldSmall:hover {
    text-decoration: underline;
}

a.HREFBoldSmall:link {
    text-decoration: none;
}

a.HREFBoldSmall:visited {
    text-decoration: none;
}

a.HREFBoldWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
}

a.HREFBoldWhite:hover {
    text-decoration: underline;
}

a.HREFBoldWhite:link {
    text-decoration: underline;
}

a.HREFBoldWhite:visited {
    text-decoration: underline;
}

a.header1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
}

a.header1:hover {
    text-decoration: underline;
}

a.header1:link {
    text-decoration: none;
}


a.header2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
}

a.header2:hover {
    text-decoration: underline;
}

a.header2:link {
    text-decoration: none;
}

a.sortHREFWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
}

a.sortHREFWhite:hover {
    text-decoration: underline;
}

a.sortHREFWhite:link {
    text-decoration: none;
}

a.wordCountLinks {
    font-family: Verdana, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: white;
}

a.wordCountLinks:hover {
    text-decoration: underline;
}

a.wordCountLinks:link {
    text-decoration: none;
}

.activityDashboardText{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95,139,42);
    font-size: 13px;
    text-decoration: none;
}

.activityDashboardNumber{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37,34,101);
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.editorSegmentMT {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    word-wrap: break-word;
}
.tip{
	position:absolute;
	border:1px solid #000000;
	display:none;
	background:#FFFFE1;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

.tableHeadingBasicTM {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background: #0C1476;
    height:30px;
}

.tableRowEvenTM {
	height:30px;
    background: #FFFFFF
}

.tableRowOddTM {
	height:30px;
    background: #EEEEEE
}
