<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Dispatcher MiddleWare Application</display-name>

	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>mvc-dispatcherMW</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcherMW</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcherMW-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- log4j configure -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!--set security Area -->
	<security-constraint>
		<display-name>Geci Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/mtProfiles/*</url-pattern>
			<url-pattern>/account/*</url-pattern>
			<url-pattern>/mtpLanguages/*</url-pattern>
			<url-pattern>/fileManagement/*</url-pattern>
			<url-pattern>/onlineTest/*</url-pattern>
			<!-- If you list http methods, only those methods are protected -->
			<!-- <http-method>DELETE</http-method> <http-method>GET</http-method> 
				<http-method>POST</http-method> <http-method>PUT</http-method> -->
		</web-resource-collection>
		<auth-constraint>
			<!-- Anyone with one of the listed roles may access this area -->
			<role-name>dispatcherMWRole</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- Default login configuration uses Digest-base authentication -->
	<login-config>
		<auth-method>DIGEST</auth-method>
	</login-config>
	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>dispatcherMWRole</role-name>
	</security-role>

	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/error/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/404.jsp</location>
	</error-page>
	<error-page>  
		<error-code>500</error-code>  
		<location>/WEB-INF/error/500.jsp</location>  
	</error-page>
	<error-page>  
		<exception-type>java.lang.Exception</exception-type>  
		<location>/WEB-INF/error/error.jsp</location>  
	</error-page>
	<error-page>  
		<exception-type>java.lang.NullPointerException</exception-type>  
		<location>/WEB-INF/error/error.jsp</location>  
	</error-page>
	<error-page>  
		<exception-type>javax.servlet.ServletException</exception-type>  
		<location>/WEB-INF/error/error.jsp</location>  
	</error-page>  
</web-app>