<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping resource="com/globalsight/persistence/hibernate/xml/Activity.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/AmountOfWork.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/BasicL10nProfile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CalendarWorkingDay.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CalendarWorkingHour.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CmsUserInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CodeSetImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CommentImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CommunicationInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Company.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ScorecardCategory.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/PostReviewCategory.hbm.xml"/>
		<mapping resource="com/globalsight/persistence/hibernate/xml/ScorecardScore.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Category.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FMFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CorpusContext.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CorpusDoc.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CorpusDocGroup.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Cost.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CostByWordCount.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Currency.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CustomField.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CustomForm.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DatabaseColumnImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DatabaseProfileImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DBConnectionImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DBDispatchImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DelayedImportRequest.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DocumentumUserInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ExportBatchEvent.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ExportingPage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ExportLocationImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FileExtensionImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FileProfileExtension.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FileProfileImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FluxCalendar.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FluxEventMap.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GlobalSightLocale.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Holiday.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ImageReplaceFileMap.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/IsoCurrency.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/IssueHistoryImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/IssueImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JobImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/KnownFormatTypeImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/L10nProfileVersion.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/LeverageGroupImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/LeverageLocales.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/LeverageProjectTM.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/LocaleCodeSet.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/LocalePair.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/PageTemplate.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/PermissionGroupImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/PreviewUrlImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ProjectImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ProjectTM.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Rate.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Rating.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RequestImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ReservedTime.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SecondaryTargetFile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SegmentationRuleFileImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SnippetImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SourcePage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Surcharge.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SystemParameterImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TargetPage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TaskImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TaskTuv.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TemplateFormat.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TemplatePart.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/TemplatePartArchived.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TranslationMemoryProfile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MachineTranslationProfile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MachineTranslationExtentInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserCalendarWorkingDay.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserCalendarWorkingHour.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserFieldSecurity.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserFluxCalendar.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserParameterImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Vendor.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/VendorFieldSecurity.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/VendorRole.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowOwner.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowRequestImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowTemplateInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowStatePosts.hbm.xml"/>
		<mapping resource="com/globalsight/persistence/hibernate/xml/XmlRuleFileImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ProjectTmTuT.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ProjectTmTuvT.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/L10nProfileWFTemplateInfo.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/XmlDtdImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JavaPropertiesFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FilterConfiguration.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JavaScriptFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MSOfficeDocFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/XMLRuleFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/HtmlFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/InddFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSServer.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSRepository.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSModule.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSModuleMapping.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSModuleMappingRename.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GitConnector.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GitConnectorCacheFile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GitConnectorFileMapping.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GitConnectorJob.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/BlaiseConnector.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/BlaiseConnectorJob.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RemoteIp.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JSPFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/CVSFileProfile.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/XliffAlt.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MSOfficeExcelFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/OpenOfficeFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MSOffice2010Filter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/POFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/PlainTextFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/AttributeSet.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Attribute.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ListCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/IntCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FileCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SelectOption.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FileValueItem.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JobAttribute.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/FloatCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TextCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/DateCondition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/AttributeClone.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/GSEdition.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RssFeed.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RssItem.hbm.xml" />	
		<mapping resource="com/globalsight/persistence/hibernate/xml/TuConceptRelation.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RemoteAccessHistory.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserDefaultRole.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserDefaultActivity.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UpdatedSourcePage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/AddingSourcePage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/MSOfficePPTFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TDATM.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SSOUserMapping.hbm.xml" />
		<mapping resource="com/globalsight/ling/tm3/core/persistence/xml/BaseTm.hbm.xml" />
		<mapping resource="com/globalsight/ling/tm3/core/persistence/xml/TM3Attribute.hbm.xml" />
		<mapping resource="com/globalsight/ling/tm3/core/persistence/xml/TM3Event.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RemovedTag.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RemovedPrefixTag.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/RemovedSuffixTag.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TbConcept.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TbLanguage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TbTerm.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/Termbase.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/InputModel.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/BaseFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/BaseFilterMapping.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TMAttribute.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/TMPAttribute.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ProjectTmTuTProp.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/User.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/UserRoleImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/ContainerRoleImpl.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/WorkflowExporting.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/SystemLog.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/COTIDocument.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/COTIPackage.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/COTIProject.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/EloquaConnector.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/QAFilter.hbm.xml" />
		<mapping resource="com/globalsight/persistence/hibernate/xml/JobGroup.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/MindTouchConnector.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/MindTouchConnectorTargetServer.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/InddTuMapping.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/LoginAttemptConfig.hbm.xml" />
        <mapping resource="com/globalsight/persistence/hibernate/xml/LoginAttempt.hbm.xml" />
	</session-factory>
</hibernate-configuration>
