@rem This script must be run after deploying Ambassador, but before the application
@rem is started.
@rem This should only need to be run on a fresh install
set WAS_HOME=%%websphere_home%%
set PATH=%WAS_HOME%\bin;%WAS_HOME%\java\bin;%PATH%
@echo "Precompiling all Ambassador JSPs"
JspBatchCompiler -enterpriseapp.name ambassador -cell.name %%websphere_cell%% -node.name %%websphere_node%% -server.name %%websphere_server%% -classloader.parentFirst false -classloader.singleWarClassloader true -keepgenerated true -verbose false -deprecation false

