/* Modify from styleIE.jsp of GlobalSight. */

/* Adds for Dispatcher */
body {
	margin: auto;
	width: 1000px;
	min-height: 300px;
	border: 1px solid #DDDDDD;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}


.leftIcon {
	float: left;
    padding: 10px 400px 10px 10px;
}

nav {
    background-image: url("../images/header_bg.jpg");
    border: 1px solid black;
    padding: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav li {
	float: left;
	padding: 5px;
}

nav li a {
	text-decoration: none;
	padding: 1px 5px;
	color: white;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover {
	background: none repeat scroll 0 0 #78ACFF;
    border-color: #EAF2FF #0042AE #0042AE #EAF2FF;
    border-left: 1px solid #EAF2FF;
    border-right: 1px solid #0042AE;
    border-style: solid;
    border-width: 1px;
    color: white;
}

.clear {
	clear: both;
}

footer {
    background-color: black;
    color: gray;
    font-size: 11px;
    height: 25px;
    padding: 8px 0 0 15px;
}

footer a {
    color: gray;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}


footer .leftmargin10 {
    margin-left: 10px;
    color: gray;
}

/* End Adds for Dispatcher */



.activityDashboardNumber {
	color: #252265;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
}

.asterisk,.errorMsg {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.bigText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.confidential {
	background-color: #FFF;
	color: #0C1476;
}

.detailText,.standardHREFDetail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.divider {
	background: none repeat scroll 0 0 #A6B8CE;
}

.editorStandardText,.editorId {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.editorText,.editorSegment,.editorSegmentRepetition,.editorSegmentUpdated,.editorSegmentExact,.editorSegmentFuzzy,.editorSegmentLocked,.editorSegmentExcluded,.editorSegmentUnverified,.editorSegmentMT
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	word-wrap: break-word;
}

.glossaryDateSize {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: italic;
}

.greenText {
	color: #096;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.header1 {
	background: none repeat scroll 0 0 #18385D;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

.header2 {
	background: none repeat scroll 0 0 #738EB5;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

.headingError {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 700;
}

.helloText {
	font-family: Arial Black, Helvetica, sans-serif;
	font-size: 11pt;
}

.helloTextDetail {
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.listborder {
	border: 1px solid #0C1476;
}

.mainHeading {
	color: #0C1476;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 700;
}

.navPoint {
	font-size: 18px;
	font-weight: bolder;
}

.smallSilverItalicBold {
	color: silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: italic;
	font-weight: 700;
}

.smallText,.standardHREFSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.smallTextGray {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.smallWhiteItalic {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: italic;
}

.standardHREF,.standardText,.sourceTerm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.standardHREF:visited,.standardHREFDetail:visited,.standardHREFSmall:visited,.warningHREF:visited,a.HREFBold:hover,a.HREFBold:link,a.HREFBold:visited,a.HREFBoldSmall:hover,a.HREFBoldWhite:hover,a.HREFBoldWhite:link,a.HREFBoldWhite:visited,a.header1:hover,a.header2:hover,a.sortHREFWhite:hover,a.wordCountLinks:hover
	{
	text-decoration: underline;
}

.standardTextBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
}

.standardTextBoldLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 700;
}

.standardTextGray {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.standardTextItalic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
}

.standardTextNew {
	font-family: Verdana, Arial;
	font-size: 9pt;
}

.standardTextWhite {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.startHere {
	background: none repeat scroll 0 0 red;
	color: #FFF;
	font-family: Verdana, sans-serif;
	font-size: 7pt;
	font-weight: 700;
	text-decoration: none;
}

.tableBodyHome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: top;
}

.tableHeadingBasic {
	background: none repeat scroll 0 0 #0C1476;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

.tableHeadingBasicBlack {
	background: none repeat scroll 0 0 #EEE;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

.tableHeadingBasicTM {
	background: none repeat scroll 0 0 #0C1476;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
	height: 30px;
}

.tableHeadingFilter {
	background: none repeat scroll 0 0 #738EB5;
	height: 10px;
}

.tableHeadingGray {
	background: none repeat scroll 0 0 #708EB3;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

.tableHeadingListOff {
	background: none repeat scroll 0 0 #708EB3;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
}

.tableHeadingListOn {
	background: none repeat scroll 0 0 #0C1476;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	vertical-align: middle;
}

.tableHeadingWhite {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 700;
}

.tableRowEven {
	background: none repeat scroll 0 0 #FFF;
}

.tableRowEvenTM {
	background: none repeat scroll 0 0 #FFF;
	height: 30px;
}

.tableRowOdd {
	background: none repeat scroll 0 0 #EEE;
}

.tableRowOddTM {
	background: none repeat scroll 0 0 #EEE;
	height: 30px;
}

.targetTerm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	margin-left: 10pt;
}

.tip {
	background: none repeat scroll 0 0 #FFFFE1;
	border: 1px solid #000;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	position: absolute;
}

.warningHREF {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: underline;
}

.warningText {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.welcomePageContentLayer {
	left: 20px;
	margin-left: 80px;
	position: absolute;
	right: 20px;
	top: 168px;
	z-index: 10;
}

.welcomePageLink,.activityDashboardText {
	color: #5F8B2A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.welcomePageMainHeading {
	color: #93A5B3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

.welcomePageTableHeadingBasic {
	color: #252265;
	font-family: Arial Black, Helvetica, sans-serif;
	font-size: 9pt;
}

.welcomePageTableHeadingBasicBlack {
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 700;
}

.whiteBold {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.whiteHREF {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.wizardCell {
	background: none repeat scroll 0 0 #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	width: 7%;
}

.wizardCellArrow {
	background: none repeat scroll 0 0 #EEE;
	height: 15px;
	text-align: center;
}

.wizardCellArrowLinks {
	color: silver;
	font-family: arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
}

.wizardCellArrowLinks:hover,.wizardLinks:hover {
	color: navy;
	text-decoration: underline;
}

.wizardCellClose {
	background: none repeat scroll 0 0 #EEE;
	border: 1px solid silver;
	height: 10px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

.wizardCellCloseLinks {
	color: silver;
	font-family: arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 400;
}

.wizardCellCloseLinks:hover {
	color: navy;
	text-decoration: none;
}

.wizardCellQuestion {
	background: none repeat scroll 0 0 #708EB3;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
}

.wizardCellStartFinish {
	background: none repeat scroll 0 0 #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	width: 40px;
}

.wizardLinks {
	color: gray;
	font-family: verdana, sans-serif;
	font-size: 7pt;
	font-weight: 700;
	text-decoration: none;
}

.wizardLinks:visited,a:visited,a.HREFBoldSmall:link,a.HREFBoldSmall:visited,a.header1:link,a.header2:link,a.sortHREFWhite:link,a.wordCountLinks:link
	{
	text-decoration: none;
}

.wordCountHeading {
	background: none repeat scroll 0 0 #708EB3;
	color: #FFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 700;
}

.wordCountHeadingBlack {
	background: none repeat scroll 0 0 #EEE;
	color: #000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 700;
}

.wordCountHeadingWhite {
	background: none repeat scroll 0 0 #0C1476;
	color: #FFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 700;
}

a.HREFBold,.HREFBold {
	color: #0C1476;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: 700;
}

a.HREFBoldSmall {
	color: #0C1476;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

a.HREFBoldWhite,a.header1,a.header2,a.sortHREFWhite {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: 700;
}

a.wordCountLinks {
	color: #FFF;
	font-family: Verdana, sans-serif;
	font-size: 7pt;
	font-weight: 700;
}
